@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Poppins', sans-serif;
    
    overflow-x: hidden;
 }

 @font-face {
    font-family: great vibes;
    src: url(GreatVibes-Regular.ttf);
 }


 /* Global Tags */

 h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
 }

 span{
    font-size: .9rem;
    color: #757373;
 }

 h6{
    font-size: 1.1rem;
    color: rgb(24,24,49);
 }


 /* Navigation */
 nav{
    position: fixed;
    width: 100%;
    height: 6vw;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
 }

 nav h1{
   color: rgb(21,21,100);
   font-size: 20px;
   text-align: center;
   padding-right: 58vw;
 }

 nav img{
    width: 80px;
    cursor: pointer;
    padding-left: 20px;
 }
 
 nav .navigation ul{
    display: flex;
    align-items: center;
 }

 nav .navigation ul li{
    list-style: none;
    padding: 14px;
    position: relative;
 }

 nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21,21,100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
 }

 
 nav .navigation ul li a.active,

 nav .navigation ul li a:hover{
    color: #FDC93B;
 }

 nav .motto{
   font-size: 15px;
   text-align: left;
 }

 MArquee{
   color: rgb(21, 21, 100);
 }

 /*Sub-Navigation*/
 
 #subnavigation{
   visibility: hidden;
   position: fixed;
   bottom: 0;
   height: 60px;
   justify-content: center;
   z-index: 999;
 }
 nav .subnavigation ul{
   display: flex;
   align-items: center;
   justify-content: center;
}

nav .subnavigation ul li{
   list-style: none;
   padding: 7px;
   position: relative;
   text-align: center;
}

nav .subnavigation ul li a{
   text-decoration: none;
   color: rgb(21,21,100);
   font-size: 10px;
   transition: 0.3s ease;
   margin: auto;
}
nav .subnavigation p{
   font-size: 8px;
   font-weight: 400;
   padding-bottom: 4px;
}


nav .subnavigation ul li a.active,

nav .subnavigation ul li a:hover{
   color: #FDC93B;
}

/* Home */

#home,#history{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 47px;
    justify-content: center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#home h1{
   color: #fff;
   font-size: 2.2rem;
   letter-spacing: 1px;
   
}
#home marquee{
   padding-top: 70px;
   color: #ffffff;
}

#home h2{
    color: #fff;
    font-size: 5rem;
    font-weight: 1px;
    font-family: great vibes;
    letter-spacing: 1px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
   
}

#home .btn{
    margin-top: 30px;
    padding-top: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    
}

#home a.blue {
    color: #fff;
    background: rgb(21,21,100);
    transition: 0.3s ease;
    
}

#home a.blue:hover {
    color:  rgb(21,21,100);
    background: #fff;
    
}

#home a.yellow {
    color: #fff;
    background: #FDC93B;
    transition: 0.3s ease;
    
}

#home a.yellow:hover {
    color:  rgb(21,21,100);
    background: #fff;
    
}

#gallery{
   height: 50vw;
   background-color: #dbdbdb;
   padding: 10px 10px;
}

#gallery h1{
   display: flex;
   align-items: center;
   justify-content: center;
}

.image-grid {
   padding-top: 4vw;
   display: grid;
   grid-template-columns: repeat(5, 1fr); /* 5 columns */
   gap: 10px; /* Gap between images */
}

.image-grid img {
   max-width: 100%;
   height: auto;
}

#groom-bride{
   height: 40vw;
}

.details-container {
   display: flex;
   justify-content: space-between;
   height: 30vw;
   margin: 10vw 10px;
   padding: 10px;
   border: 2px solid #e0e0e0;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   background-color: #f8f8f8;
}

/* Styling for the groom and bride boxes */
.details-box {
   flex: 1;
   padding: 20px;
   text-align: center;
}

/* Styling for text in the boxes */
.details-box h1 {
   font-size: 64px;
   font-family: great vibes;
   color: #333;
}

.details-box p {
   font-size: 16px;
   color: #666;
}

#family{
   height: 45vw;
   background-color: #dbdbdb;
}
/* Styling for the container */
.family-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 20px;
   padding-top: 5vw;
}

/* Styling for each family member */
.family-member {
   width: calc(33.33% - 20px); /* Three columns with spacing */
   margin: 10px;
   padding: 20px;
   border: 2px solid #e0e0e0;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   background-color: #f8f8f8;
   text-align: center;
}

.family-member img{
   width: 200px;
   height: 200px;
}

/* Styling for text in the family member boxes */
.family-member h2 {
   font-size: 20px;
   color: #333;
}

.family-member p {
   font-size: 16px;
   color: #666;
}

#venue{
   height: 38vw;
}

.location-button {
   display: inline-block;
   padding: 10px 20px;
   background-color: #ff6600;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.location-button:hover {
   background-color: #cc5500;
} 

.venue-details {
   max-width: 600px;
   margin: 10vw auto;
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   text-align: center;
}

footer {
   background-color: #dbdbdb; /* Background color for the footer */
   color: #111111; /* Text color */
   padding: 20px; /* Add some space inside the footer */
}

/* Style the footer content */
.footer-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-content a{
   text-decoration: none;
   color: #1600df;
}

/* Style the footer links */
.footer-content ul {
   list-style: none;
   padding: 0;
   display: flex;
}

.footer-content ul li {
   margin-right: 20px;
}

.footer-content ul li:last-child {
   margin-right: 0;
}

.footer-content ul li a {
   text-decoration: none;
   color: #111111;
   font-weight: bold;
}

/* Style the footer text */
.footer-content p {
   margin: 0;
}



@media (max-width: 495px){

   body{
      overflow-x: hidden;
   }
   nav img{
      width: 70px;
   }
   nav{
      height: 18vw;
   }
   
   nav h1{
      font-size: 15px;
      padding-right: 0vw;
      padding-left: 10px;
    }

    nav ul{
      visibility: hidden;
    }

    #subnavigation{
      visibility: visible;
    }

    nav .subnavigation ul li a{
      text-decoration: none;
      color: rgb(21,21,100);
      font-size: 15px;
      transition: 0.3s ease;
      margin: auto;
      visibility: visible;
   }
   nav .subnavigation p{
      font-size: 10px;
      font-weight: 400;
      padding-bottom: 4px;
      visibility: visible;
   }
   
   nav .subnavigation ul li a.active,
   
   nav .subnavigation ul li a:hover{
      color: #FDC93B;
      visibility: visible;
   }
   
   #home,#history{
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      padding-top: 50px;
      margin: 0;
  }
  
  #background-video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  
  #home h1{
     color: #fff;
     font-size: 2.2rem;
     letter-spacing: 1px;
     
  }
  #home marquee{
     padding-top: 35px;
     color: #ffffff;
     width: 100%;
  }
  
  #home h2{
      color: #fff;
      font-size: 2.5rem;
      font-weight: 1.5px;
      font-family: great vibes;
      letter-spacing: 1.8px;
      padding-top: 57px;
      display: flex;
      align-items: center;
      justify-content: center;
  }   
  
  #home p {
      width: 50%;
      color: #fff;
      font-size: 0.9rem;
      line-height: 25px;
     
  }
  
  #home .btn{
      margin-top: 210px;
      padding-top: 62vw;
      padding-left: 10px;
      padding-right: 10px;
  }

  #home a{
      text-decoration: none;
      font-size: 0.9rem;
      padding: 13px 35px;
      background-color: #fff;
      font-weight: 600;
      border-radius: 5px;
      
  }
  
  #home a.blue {
      color: #fff;
      background: rgb(21,21,100);
      transition: 0.3s ease;
      
  }
  
  #home a.blue:hover {
      color:  rgb(21,21,100);
      background: #fff;
      
  }
  
  #home a.yellow {
      color: #fff;
      background: #FDC93B;
      transition: 0.3s ease;
      
  }
  
  #home a.yellow:hover {
      color:  rgb(21,21,100);
      background: #fff;
      
  }
  
  #gallery{
     height: 140vw;
     background-color: #dbdbdb;
     padding: 10px 10px;
  }
  
  #gallery h1{
     display: flex;
     align-items: center;
     justify-content: center;
  }
  
  .image-grid {
     padding-top: 4vw;
     display: grid;
     grid-template-columns: repeat(3, 1fr); /* 5 columns */
     gap: 10px; /* Gap between images */
  }
  
  .image-grid img {
     max-width: 100%;
     height: auto;
  }
  
  #groom-bride{
     height: 230vw;
  }
  
  .details-container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 230vw;
     margin: 10vw 30px;
     padding : 30px;
     border: 2px solid #e0e0e0;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     background-color: #f8f8f8;
  }
  
  /* Styling for the groom and bride boxes */
  .details-box {
     flex: 1;
     padding: 30px;
     text-align: center;
     justify-content: center;
  }
  
  /* Styling for text in the boxes */
  .details-box h1 {
     font-size: 64px;
     font-family: great vibes;
     color: #333;
  }
  
  .details-box p {
     font-size: 16px;
     color: #666;
  }
  
  #family{
     height: 330vw;
     background-color: #dbdbdb;
  }
  /* Styling for the container */
  .family-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin: 20px;
     padding-top: 5vw;
  }
  
  /* Styling for each family member */
  .family-member {
     width: calc(100% - 20px); /* Three columns with spacing */
     margin: 10px;
     padding: 20px;
     border: 2px solid #e0e0e0;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     background-color: #f8f8f8;
     text-align: center;
  }
  
  .family-member img{
     width: 130px;
     height: 130px;
     border-radius: 10px;
  }
  
  /* Styling for text in the family member boxes */
  .family-member h2 {
     font-size: 20px;
     color: #333;
  }
  
  .family-member p {
     font-size: 16px;
     color: #666;
  }
  
  #venue{
     height: 100vw;
  }
  
  .location-button {
     display: inline-block;
     padding: 10px 20px;
     background-color: #ff6600;
     color: #fff;
     text-decoration: none;
     border-radius: 5px;
     transition: background-color 0.3s ease;
  }
  
  .location-button:hover {
     background-color: #cc5500;
  } 
  
  .venue-details {
     max-width: 600px;
     margin: 10vw auto;
     background-color: #fff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     text-align: center;
  }
  
  footer {
     background-color: #dbdbdb; /* Background color for the footer */
     color: #111111; /* Text color */
     padding: 10px; /* Add some space inside the footer */
     height: 33vw;
  }
  
  /* Style the footer content */
  .footer-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .footer-content a{
     text-decoration: none;
     color: #1600df;
  }
  
  /* Style the footer links */
  .footer-content ul {
     list-style: none;
     padding: 0;
     display: flex;
  }
  
  .footer-content ul li {
     margin-right: 20px;
  }
  
  .footer-content ul li:last-child {
     margin-right: 0;
  }
  
  .footer-content ul li a {
     text-decoration: none;
     color: #111111;
     font-weight: bold;
  }
  
  /* Style the footer text */
  .footer-content p {
   font-size:13px;
   padding-left: 20px;
     margin: 0;
     padding-right: 10px;
  }
  
}
